.Main{
    font-family: Rubik, Helvetica, Arial, sans-serif;
    padding-top: 13px;
    padding: 50px;

    &-menu{
        background-color: black;
        border-radius: 15px;
        height: 72px;
    }
}